<div class="container">

    <h4 class="title mt-5" >Formulario</h4>
    <hr>
    <form [formGroup]="forma" (ngSubmit)="guardar()">
    
      <div>
    
        <div class="form-group row">
          <label class="col-2 col-form-label">Nombre</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   [class.is-invalid] = "nombreNoValido"
                   placeholder="Nombre">
            <small *ngIf="nombreNoValido" class="text-danger">nombre (minimo 5 letras)</small>
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-2 col-form-label">Apellido</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   [class.is-invalid] = "apellidoNoValido"
                   placeholder="Apellido">
            <small *ngIf="apellidoNoValido" class="text-danger">Campo requerido</small>
          </div>
        </div>
    
      </div>
    
      <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
    
        <input class="form-control"
                type="email"
                [class.is-invalid] = "correoNoValido"
                placeholder="Correo electrónico">
        <small *ngIf="correoNoValido" class="text-danger">Ingrese un correo valido</small>
        </div>
      </div>
    
    
      <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">
    
          <input class="form-control"
                 type="password"
                 [class.is-invalid] = "password1NoValido"
                 >
        <small *ngIf="password1NoValido" class="text-danger">Contraseña debe contener minimo 6 caracteres</small>
        </div>
      </div>
    
      <div class="form-group row">
        <label class="col-2 col-form-label">Confirmar password</label>
        <div class="col-md-8">
    
          <input class="form-control"
                 type="password"
                 [class.is-invalid] = "password2NoValido"
                 >
        <small *ngIf="password2NoValido" class="text-danger">La contraseña no coincide</small>
        </div>
      </div>
    
     
     
      <div class="form-group row">
        <label class="col-5 col-form-label">&nbsp;</label>
        <div class="input-group col-md-6" style="margin-bottom: 40px; margin-top: 20px;">
          <button type="submit" class="btn btn-outline-success mr-2">
            Guardar
          </button>
          <button type="button" class="btn btn-outline-secondary" (click)="limpiar()">
            Limpiar
          </button>
        </div>
      </div>
    
    </form>
    
</div>